[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[project]
	description = OpenDaylight toolkit.\n\
\n\
This project has been archived as per the TSC vote on Aug 11, 2016 (See point 7) https://meetings.opendaylight.org/opendaylight-meeting/2016/tsc/opendaylight-meeting-tsc.2016-08-11-17.00.html
	state = read only
[access "refs/*"]
	owner = group ldap/gerrit-toolkit-committers
	read = group GitHub Replication
